@media screen and (min-width:1000px){
    #photo{
        display: block;
    }

    .header{
        padding: 3rem !important;
    }
}

@media screen and (max-width:950px){
    #photo{
        margin-top: 30vh;
    }
}

@media (max-width: 767px) {
    .card {
      margin: 0 auto;
      display: block;
    }
  }
  